<% _.each(comments, function(comment) { %>
	
	<div class="comment">
		<a href="#user/<%= comment.get('user').id %>" class="avatar">
			<img src="<%= comment.mobileAvatar() %>" alt="">
		</a>

		<div class="details">
			<div class="comment-header">
				<a href="#user/<%= comment.get('user').id %>" class="author">
					<%= comment.get('user').name %>
				</a>
				<span class="post-date"><%= comment.postDate() %></span>
			</div>
			<div class="comment-body">
				<%= comment.get('body') %>
			</div>
		</div>
	</div>
<% }); %>