.post .comments {
	background-color: #FFFFFF;
	margin: 5px 0;

	.comment {
		border-bottom: 1px solid $gray-background;
		position: relative;

		.first-child {
			border: none;
		}

		.avatar {
			position: absolute;
			top: 5px;
			left: 5px;
			img {
				width: 25px;
				height: 25px;
				border-radius: 3px;
			}
		}

		.details {
			padding: 5px 20px 5px 35px;
			.author {
				font-size: 12px;
				color: $gray;
			}
			.post-date {
				font-size: 11px;
				color: $fade;
			}
			.comment-body {
				line-height: 20px;
				margin: 5px 0;
			}
		}


	}
}