.comment-composes {
	background-color: #FFFFFF;
	.compose-header {
		height: 26px;
		padding: 5px;
		img {
			width: 14px;
			height: 14px;
			border-radius: 4px;
			vertical-align: text-top;
		}
	}
	.compose-body {
		border-top: 1px solid $gray-background;
		border-bottom: 1px solid $gray-background;
		padding: 5px;

		textarea {
			padding: 0;
			width: 100%;
			border: 1px solid $gray-background;
		}

		button {
			margin: 5px 0;
			width: 100%;
			background-color: $fade;
			color: $gray-light;
			box-shadow: none;
		}
	}
	.compose-footer {
		margin-right: 5px;
		line-height: 30px;
		position: relative;
		a {	
			display: block;
			text-align: right;
			color: $gray-dark;
			font-size: 14px;
		}
		i {
			position: absolute;
			text-align: left;
		}
		.error {
			color: red;
		}
		.message {
			color: $gray-dark;
		}
	}
}