.post {
	background-color: transparent!important;
	.post-content {
		background-color: #FFF;
	}
	.post-header {
		position: relative;
		padding: 5px 36+5*3px 5px 5px;

		.avatar {
			position: absolute;
			right: 5px;
			top: 5px;
			img {
				width: 36px;
				height: 36px;
				border-radius: 4px;
			}
		}
		.info {
			.organizations {
				margin-bottom: 10px;
				margin-left: -3px;					
				a {
					text-align: left;
					color: $gray-dark;
					font-size: 14px;
				}
				&:before {
					color: $gray;
					content: "・";
				}
				&:first-child:before {
					content: "";
				}
			}
			.title {
				margin-top: 5px;
				margin-bottom: 15px;
				font-size: 18px;
				color: #000000;
			}
			.post-date {
				color: $gray;
			}
		}
	}
	.post-body {
		border-top: 1px solid $gray-background;
		border-bottom: 1px solid $gray-background;
		padding: 7px 5px;
		font-size: 14px;

		img {
			width: 100%;
			height: auto;
			margin: 5px 0;
		}
		
	}
	.post-footer {

	}
}